/* RESET */
body{margin:0}
button,i{all:unset}
i{display:block}

/* MAIN */
main{
  display:flex; flex-direction:column;
  padding:9pt; max-width:390pt;
  font-size:9pt;
}

/* _H */
header{
  display:flex;flex-direction:row;
}
h1{
  margin:auto;padding:0;
  line-height:1;
  font-size:18pt;
  font-weight:bold;
}

/* TH */
#th{
  width:100%; margin:0;padding:0;

}
.th{
  font-weight:bold;
}