/* CONFIG */
:root {
  /* lengths */
  --header-height:39pt;
  --header-font-size:21pt;
  --main-margin-bottom:9pt;
  
  /* columns */
  --c-lang:16%;
  --c-wiki:9%;
  --c-del:30pt;
}
.block:nth-child(1),
.block:nth-child(2),
.block:nth-child(3),
.block:nth-child(4){width:var(--c-lang)}
.block:nth-child(5){width:var(--c-wiki)}
.block:nth-child(6){
  width:calc(100% - 4 * var(--c-lang) - var(--c-wiki) - var(--c-del))
}
.block:nth-child(7){width:var(--c-del)}


/* RESET */
body{
  margin:0;
  background:#333;
}
button,i,form,input{all:unset}
i{display:block}


/* select */
*::selection{
  background:#178577;
  color:#fff;
  text-shadow: 1px 1px #077;
}
/* scrollbar */
::-webkit-scrollbar{width:8pt}
::-webkit-scrollbar-track{background-color:#222}
::-webkit-scrollbar-thumb{
  background-color:#077;
  border-radius:9pt;
  transition:.2s background-color ease;
}



/* _H */
header{
  display:flex;
  position:fixed;left:0;top:0;
  width:100vw; height:calc(var(--header-height));
  background:#123;
  border-top:#001 solid 2pt;
  border-bottom:#001 solid 2px;
  user-select:none;
}
h1{
  margin:auto;
  line-height:1;
  font-size:var(--header-font-size);
  font-weight:bold; color:#ccc;
}

/* MAIN */
main{
  margin:calc(var(--main-margin-bottom) + var(--header-height)) auto var(--main-margin-bottom);
  max-width:720pt;
  padding:9pt;
  width:calc(100vw - 18pt - 8pt);
  min-height:calc(100vh - 18pt - var(--header-height) - var(--main-margin-bottom) * 2);
}

/* TABLE */
#table{
  width:100%;
  display:flex; flex-direction:column;
  outline:#999 solid 3pt;
}
.tr{
  display:flex; flex-direction:row;
  flex:1 0;
}
.block{
  width:auto;
  outline:#777 solid 1px;
  text-align:center;
  font-size:12pt; color:#ccc;
  line-height:1.6;
  text-wrap:nowrap; white-space:nowrap;
  overflow:hidden;
}
input{width:100%;height:100%;}

/* TH */
#th{ /* extends #tr */
  font-weight:bold;
  background-color:#111;
  border-bottom:#777 solid medium;
  position:sticky;top:calc(2px + 2pt + var(--header-height));
}
.th{
  color:#eee;
  font-size:11pt; line-height:2;
  text-align:center;
  border-bottom-width:8px;
}

/* coloring */
#mainlist .tr:nth-child(odd){background:#232323}
#mainlist .tr:nth-child(odd) input:focus{background:#393939}
#mainlist .tr:nth-child(even){background:#292929}
#mainlist .tr:nth-child(even) input:focus{background: #3c3c3c}
#new{background:#030}
input:focus{background:#050}